
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.score-row {
  display: flex;
  margin-bottom: 5px;
}
.score-row input {
  width: 30px;
  text-align: center;
  margin-right: 2px;
}
.hole-numbers {
  display: flex;
  justify-content: start;
  margin-left: 130px;
  margin-bottom: 5px;
}
.hole-numbers input {
  width: 30px;
  text-align: center;
  border: none;
  font-weight: bold;
  pointer-events: none;
  background: none;
}
