
body {
  font-family: Arial, sans-serif;
  padding: 20px;
}
.group {
  margin-top: 40px;
}
.score-header, .player-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.score-header div,
.player-row input,
.player-row .name-input {
  width: 30px;
  text-align: center;
  margin-right: 2px;
}
.player-row .name-input {
  width: 100px;
  text-align: left;
}
button {
  margin-top: 20px;
}
